<div class="jumbotron">
	<h1><font color = "#16a085">About Us</font><h1>
	<p><h4> We are creating the directory for all (well...almost all) cycling and running events in Malaysia!<h4></p>
	<p><h4> Check out all events <%= link_to "here.", "/" %> <h4></p>
</div>

