<div class="jumbotron">
	<h1><font color = "#16a085">Get Out and Get Fit!</font><h1>
	<p><h4>On Wheels or On your Feet... find out race events here<h4></p>
</div>

<div class="jumbotron">
	<p><h4>Click here to <%= link_to "Sign Up", "registration", class: "btn btn-primary btn-lg" %><h4></p> 
</div>

<p><h5><i>Find out more <%= link_to "about us", "about" %><i><h5></p>